<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Compose UI tests on Robolectric host the composable in a
             ComponentActivity. Declaring it here lets Robolectric resolve the
             intent that runComposeUiTest launches. -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
